{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="cart uk-margin-large-top history-of-buy">
    <div class="uk-container">
      <div class="uk-grid grid uk-margin-medium-bottom uk-child-width-1-2@l uk-visible@s" uk-grid>
        <div>
          <h2 class="style">ТОВАРЫ В КОРЗИНЕ</h2>
          <div class="uk-flex uk-flex-between uk-heading-divider uk-padding-remove uk-margin-bottom">
            <div>
              <h4>ТОВАР</h4>
            </div>
            <div>
              <h4>РАЗМЕР</h4>
            </div>
            <div>
              <h4>КОЛ-ВО</h4>
            </div>
            <div>
              <h4>СУММА</h4>
            </div>
          </div>

          <div class="alert" uk-alert style="padding: 0" >
            {% for item in cart %}
            {% with product=item.product %}
             <form class="uk-alert" 
            style="float: right; background-color: white"
             action="{% url 'cart:cart_remove' product.id %}" method="POST">
                {% csrf_token %}
              <button type="submit" class="btn" data-toggle="tooltip"
                data-placement="top" title="Remove">
                <i class="fas fa-trash-alt" style="color: #ff4800;"></i>
              </button>
            </form>
            <div class="uk-flex uk-heading-divider uk-padding-remove uk-margin-bottom flex uk-flex-middle">
              <div class="uk-margin-remove">
                <div>
                    {% for image in product.image.all|slice:":1" %}
                        <img src="{{ image.image.url }}" alt="" width="150px">
                    {% endfor %}
                </div>
                <div class="uk-margin-small-top">
                  <h3>{{ product.title }}</h3>
                  <p class="uk-margin-remove-top uk-margin-small-bottom">{{ product.description|truncatewords:4 }}</p>
                </div>
              </div>
              <div class="size auto">
                <p>39</p>
              </div>
              <div class="auto quantity-choice uk-flex uk-flex-middle uk-grid uk-grid-small uk-child-width-auto@s" data-uk-grid>
                <span class="input-group shopping-cart">
                  {{ item.update_quantity_form.quantity }}
                  <input type="hidden" name="overwrite_qty" value="True">
                  <div class="input-group-append">
                    <button type="submit" class="btn text-white" 
                      data-toggle="tooltip" data-placement="top" 
                      title="Update">
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>
                </span>
              </div>
              <div class="auto">
                {% if product.percent != 0 %}
                    <p class="kg medium">{{ item.total_price }} KGS</p>
                    <span class="line">{{ product.difference_price }} KGS</span>
                {% else %}
                    <p class="kg medium">{{ item.total_price }} KGS</p>
                {% endif %}
              </div>
            </div>
          {% endwith %}
          {% empty %}
            <div>
                <h4 class="medium">
                    Your shopping cart is empty.
                </h4>
            </div>
        {% endfor %}
        <div class="uk-flex uk-flex-between double-border">
            <div><span class="blue">СКИДКА</span><span class="uk-margin-left green">{{ difference_total_price|floatformat:2 }} KGS</span></div>
            <div><span class="blue">ИТОГО</span><span class="uk-margin-left orange">{{ cart_total_price|floatformat:2 }} KGS</span></div>
          </div>
        </div>

          <!-- <div class="alert" uk-alert><a class="uk-alert-close" href="" uk-close></a>
            <div class="uk-flex uk-padding-remove uk-margin-bottom flex">
              <div class="uk-margin-remove">
                <div><img src="img/jpg/nike1.jpg" alt="" width="150px"></div>
                <div class="uk-margin-small-top">
                  <h3>NIKE AIR MAX</h3>
                  <p class="uk-margin-remove">Легкие и стильные кеды, <br/> идеальное подходят для <br/> летних прогулок...</p>
                </div>
              </div>
              <div class="size auto">
                <p>39</p>
              </div>
              <div class="auto quantity-choice uk-flex uk-flex-middle uk-grid uk-grid-small uk-child-width-auto@s" data-uk-grid>
                <div class="uk-flex"><span class="minus"></span>
                  <input type="number" value="1" size="5"><span class="plus"></span>
                </div>
              </div>
              <div class="auto">
                <p class="kg medium">2100 KGS</p><span class="line">700 KGS</span>
              </div>
            </div>
            <div class="uk-flex uk-flex-between double-border">
              <div><span class="blue">СКИДКА</span><span class="uk-margin-left green">1000 KGS</span></div>
              <div><span class="blue">ИТОГО</span><span class="uk-margin-left orange">7900 KGS</span></div>
            </div>
          </div> -->



          
        </div>
        <div class="form-grid uk-position-relative">
          <h2 class="style">ОФОРМЛЕНИЕ ЗАКАЗА</h2>
          <form class="uk-grid" uk-grid>
            <div class="uk-width-1-2 crowded">
              <input class="uk-width-1-1 input" type="name" placeholder="Имя">
            </div>
            <div class="uk-width-1-2 crowded">
              <input class="uk-width-1-1 input" type="name" placeholder="Фамилия">
            </div>
            <div class="uk-width-1-1 crowded">
              <input class="uk-width-1-1 input" type="email" placeholder="Email">
            </div>
            <div class="uk-width-1-1 crowded">
              <input class="uk-width-1-1 input" type="number" placeholder="Номер телефона">
            </div>
          </form>
          <button class="uk-button form-order medium uk-align-center">ОФОРМИТЬ ЗАКАЗ</button>
        </div>
      </div>
      <!-- <div class="mobile-structure uk-margin-medium-bottom uk-hidden@s">
        <div class="alert" uk-alert><a class="uk-alert-close" href="" uk-close></a>
          <div class="snake">
            <h4>ТОВАР</h4>
            <div>
              <div><img src="img/jpg/fila2.jpg" alt=""></div>
              <div>
                <p class="uk-margin-top">Легкие и стильные кеды, идеальное подходят для летних прогулок...</p>
              </div>
            </div>
            <div class="uk-margin-top">
              <h4>РАЗМЕР</h4>
              <div class="size">
                <p>39</p>
              </div>
            </div>
            <h4 class="uk-margin-top">КОЛ-ВО</h4>
            <div class="quantity-choice uk-flex uk-flex-middle uk-grid uk-grid-small uk-child-width-auto@s" data-uk-grid>
              <div class="uk-flex"><span class="minus"></span>
                <input type="number" value="1" size="5"><span class="plus"></span>
              </div>
            </div>
            <div class="uk-margin-top">
              <h4>СУММА</h4>
              <p class="kg uk-margin-remove medium">5800 KGS</p><span class="line uk-margin-remove">300 KGS</span>
            </div>
          </div>
          <div class="uk-flex double-divide double-border">
            <div><span class="blue">СКИДКА</span><span class="uk-margin-small-left green">1000 KGS</span></div>
            <div><span class="blue">ИТОГО</span><span class="small uk-margin-small-left orange">7900 KGS</span></div>
          </div>
        </div>
        <div class="alert" uk-alert><a class="uk-alert-close" href="" uk-close></a>
          <div class="snake">
            <h4>ТОВАР</h4>
            <div>
              <div><img src="img/jpg/fila2.jpg" alt=""></div>
              <div>
                <p class="uk-margin-top">Легкие и стильные кеды, идеальное подходят для летних прогулок...</p>
              </div>
            </div>
            <div class="uk-margin-top">
              <h4>РАЗМЕР</h4>
              <div class="size">
                <p>39</p>
              </div>
            </div>
            <h4 class="uk-margin-top">КОЛ-ВО</h4>
            <div class="quantity-choice uk-flex uk-flex-middle uk-grid uk-grid-small uk-child-width-auto@s" data-uk-grid>
              <div class="uk-flex"><span class="minus"></span>
                <input type="number" value="1" size="5"><span class="plus"></span>
              </div>
            </div>
            <div class="uk-margin-top">
              <h4>СУММА</h4>
              <p class="kg uk-margin-remove medium">2100 KGS</p><span class="line uk-margin-remove">300 KGS</span>
            </div>
          </div>
          <div class="uk-flex double-divide double-border">
            <div><span class="blue">СКИДКА</span><span class="uk-margin-small-left green">1000 KGS</span></div>
            <div><span class="blue">ИТОГО</span><span class="small uk-margin-small-left orange">7900 KGS</span></div>
          </div>
        </div>
        <div class="form-grid uk-position-relative">
          <h2 class="style">ОФОРМЛЕНИЕ ЗАКАЗА</h2>
          <form class="uk-grid" uk-grid>
            <div class="uk-width-1-1 crowded">
              <input class="uk-width-1-1 input" type="text" placeholder="Имя">
            </div>
            <div class="uk-width-1-1 crowded">
              <input class="uk-width-1-1 input" type="text" placeholder="Фамилия">
            </div>
            <div class="uk-width-1-1 crowded">
              <input class="uk-width-1-1 input" type="text" placeholder="Email">
            </div>
            <div class="uk-width-1-1 crowded">
              <input class="uk-width-1-1 input" type="number" placeholder="Номер телефона">
            </div>
          </form>
          <button class="uk-button form-order uk-margin-top medium">ОФОРМИТЬ ЗАКАЗ</button>
        </div>
      </div> -->
    </div>
  </section>

{% endblock %}