{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="profile uk-margin-large-top">
    <div class="uk-container uk-container-small">
      <div class="border-bottom">
        <h2 class="style">ВАШ ПРОФИЛЬ</h2>
      </div>
      <form action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
      <div class="uk-card uk-card-default uk-cart-body uk-padding">
        <div class="uk-grid uk-child-width-1-2@m" uk-grid="">
          <div class="uk-width-auto@m">
            <div class="load"><img style="width: 300px; height: 300px;" src="{{ user.image.url }}" alt="">
              <div class="js-upload" uk-form-custom="">
                <input type="file" multiple><img class="cam" src="{% static 'img/svg/camera.svg' %}" alt="" tabindex="-1">
              </div>
            </div>
          </div>
          <div class="uk-position-relative uk-width-expand@m">
            <div>
              <h3 class="toggle">{{ user.username }}</h3>
              <input class="toggle title-toggle" type="text" value='{{ user.username }}' hidden>
            </div>
            <div class="align-right"><img src="{% static 'img/svg/pencil.svg' %}" alt="" uk-toggle="target: .toggle"></div>
            <div class="uk-heading-divider">
                <div class="uk-width-1-1"><span class="regular">Имя:</span><a class="light uk-margin-small-left toggle" href="">{{ user.first_name }}</a>
                    <input class="uk-width-1-1 light toggle text-toggle" type="text" value="{{ user.first_name }}" hidden>
                </div>
            </div>
            <div class="uk-heading-divider">
                <div class="uk-width-1-1"><span class="regular">Фамилия:</span><a class="light uk-margin-small-left toggle" href="">{{ user.last_name }}</a>
                    <input class="uk-width-1-1 light toggle text-toggle" type="text" value="{{ user.last_name }}" hidden>
                </div>
            </div>
            <div class="uk-heading-divider">
              <div class="uk-width-1-1"><span class="regular">Email:</span><a class="light uk-margin-small-left toggle" href="">{{ user.email }}</a>
                <input class="uk-width-1-1 light toggle text-toggle" type="text" value="{{ user.email }}" hidden>
              </div>
            </div>
            <div class="uk-heading-divider">
              <div class="uk-width-1-1"><span class="regular">Номер телефона:</span><a class="light uk-margin-small-left toggle" href="{{ user.phone_number }}">{{ user.phone_number }}</a>
                <input class="uk-width-1-1 light toggle text-toggle" type="text" hidden value="{{ user.phone_number }}">
              </div>
            </div>
            <div class="uk-heading-divider">
              <div class="uk-width-1-1"><span class="regular">Адрес:</span><a class="light uk-margin-small-left toggle" href="">{{ user.address }}</a>
                <input class="uk-width-1-1 light toggle text-toggle" type="text" hidden value="{{ user.address }}">
              </div>
            </div>
            <div class="toggle"></div>
            <button class="uk-button save toggle" hidden>СОХРАНИТЬ</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </section>

{% endblock %}