{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="slider">
    <div data-uk-slideshow="animation: push, min-height: 300; max-height: 500">
      <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
          <li>
            <div class="uk-container uk-position-cover">
              <div class="uk-position-center-left new">
                <h2>НОВОЕ ПОСТУПЛЕНИЕ</h2><b>FILA</b>
              </div>
              <div class="uk-position-bottom-right info"><a href="">Подробнее</a></div>
            </div><img src="{% static '/img/jpg/banner.jpg' %}" alt="" uk-cover>
          </li>
          <li>
            <div class="uk-container uk-position-cover">
              <div class="uk-position-center-left new">
                <h2>НОВОЕ ПОСТУПЛЕНИЕ</h2><b>FILA</b>
              </div>
              <div class="uk-position-bottom-right info"><a href="">Подробнее</a></div>
            </div><img src="{% static '/img/jpg/banner.jpg' %}" alt="" uk-cover>
          </li>
          <li>
            <div class="uk-container uk-position-cover">
              <div class="uk-position-center-left new">
                <h2>НОВОЕ ПОСТУПЛЕНИЕ</h2><b>FILA</b>
              </div>
              <div class="uk-position-bottom-right info"><a href="">Подробнее</a></div>
            </div><img src="{% static '/img/jpg/banner.jpg' %}" alt="" uk-cover>
          </li>
        </ul>
      </div>
      <div class="uk-slideshow-nav uk-dotnav"></div>
    </div>
  </section>
  <section class="blog uk-margin-medium-top uk-margin-medium-bottom">
    <div class="uk-container">
      <h2 class="title">БЛОГ</h2>
      <div class="uk-grid uk-child-width-1-2@s" uk-grid uk-scrollspy="target: &gt; div; cls:uk-animation-fade; delay: 500; repeat: true">
        {% for blog in blogs %}
        <div><img class="uk-width-1-1" src="{{ blog.image.url }}" alt="">
          <div class="uk-padding-small">
            <h3>{{ blog.title }}</h3>
            <p>{{ blog.sub_title }}</p><a class="uk-flex uk-flex-right" href="{% url 'blog' blog.id %}">ПОДРОБНЕЕ</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="uk-text-center"><a class="else uk-button" href="" type="button">ПОКАЗАТЬ ЕЩЕ</a></div>
    </div>
  </section>

  {% endblock %}