{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="slider">
    <div data-uk-slideshow="animation: push; min-height: 300; max-height: 500">
      <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
          <li>
            <div class="uk-container uk-position-cover">
              <div class="uk-position-center-left new">
                <h2>НОВОЕ ПОСТУПЛЕНИЕ</h2><b>FILA</b>
              </div>
              <div class="uk-position-bottom-right info"><a href="">Подробнее</a></div>
            </div><img src="{% static 'img/jpg/banner.jpg' %}" alt="" uk-cover="">
          </li>
          <li>
            <div class="uk-container uk-position-cover">
              <div class="uk-position-center-left new">
                <h2>НОВОЕ ПОСТУПЛЕНИЕ</h2><b>FILA</b>
              </div>
              <div class="uk-position-bottom-right info"><a href="">Подробнее</a></div>
            </div><img src="{% static 'img/jpg/banner.jpg' %}" alt="" uk-cover="">
          </li>
          <li>
            <div class="uk-container uk-position-cover">
              <div class="uk-position-center-left new">
                <h2>НОВОЕ ПОСТУПЛЕНИЕ</h2><b>FILA</b>
              </div>
              <div class="uk-position-bottom-right info"><a href="">Подробнее</a></div>
            </div><img src="{% static 'img/jpg/banner.jpg' %}" alt="" uk-cover="">
          </li>
        </ul>
      </div>
      <ul class="uk-slideshow-nav uk-dotnav"></ul>
    </div>
  </section>
  <section class="catalog-category uk-margin-medium">
    <div class="uk-container">
      <div class="uk-grid uk-child-width-1-2@m" data-uk-grid>
        <div uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
          <div class="img-wrapper uk-cover-container"><img data-uk-cover src="{% static 'img/jpg/cat1.jpg' %}" alt="">
            <h2 class="uk-position-center light">ДЛЯ ЖЕНЩИН</h2><a class="uk-position-cover" href="{% url 'woman' %}"></a>
          </div>
        </div>
        <div uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
          <div class="img-wrapper uk-cover-container"><img data-uk-cover src="{% static 'img/jpg/cat2.jpg' %}" alt="">
            <h2 class="uk-position-center light">ДЛЯ МУЖЧИН</h2><a class="uk-position-cover" href="{% url 'man' %}"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="popular-goods uk-margin-medium">
    <div class="uk-container">
      <h2 class="uk-text-center uk-margin-medium">популярные товары и акции</h2>
      <div class="uk-grid" data-uk-grid>
        <div class="uk-width-2-3@m left-side">
          <div class="item uk-position-relative"><a class="uk-position-cover" href="{% url 'leto' %}"></a>
            <div class="img-wrapper uk-cover-container"><img data-uk-cover src="{% static 'img/jpg/pop1.jpg' %}" alt=""></div>
            <div class="text">
              <h3 class="medium">Летняя коллекция</h3>
              <p class="regular">Обувь идеально подходядит для летних прогулок</p>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m right-side">
          <div class="item uk-position-relative"><a class="uk-position-cover" href="{% url 'demi' %}"></a>
            <div class="img-wrapper uk-cover-container"><img data-uk-cover src="{% static 'img/jpg/sport.jpg' %}" alt=""></div>
            <div class="text">
              <h3 class="medium">Осенняя коллекция</h3>
              <p class="regular">Обувь идеально подходядит для осенних прогулок</p>
            </div>
          </div>
          <div class="item uk-position-relative"><a class="uk-position-cover" href="{% url 'zima' %}"></a>
            <div class="img-wrapper uk-cover-container"><img data-uk-cover src="{% static 'img/jpg/index_shoe.jpg' %}" alt=""></div>
            <div class="text">
              <h3 class="medium">Зимняя коллекция</h3>
              <p class="regular">Обувь идеально подходядит для зимных прогулок</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="recommend uk-margin-medium">
    <div class="uk-container">
      <h3 class="uk-text-center uk-margin-medium-top">РЕКОМЕНДУЕМ</h3>
      <div class="uk-position-relative uk-visible-toggle uk-light" data-uk-slider="autoplay: true; ">
        <ul class="uk-slider-items uk-grid uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s">
          <!-- <li>
            <div class="favorite uk-margin-top uk-margin-right" uk-toggle="target: .heart; animation: uk-animation-fade; queued: true"><i class="fa fa-heart-o heart"></i><i class="fa fa-heart heart" hidden></i></div><a href="">
              <div class="item">
                <div class="uk-panel uk-cover-container"><img data-uk-cover src="{% static 'img/jpg/rec1.jpg' %}" alt="">
                  <div class="text">
                    <div class="uk-flex uk-flex-between">
                      <div>
                        <h4>NIKE AIR 180</h4><i>43</i><i>41</i><i>38</i><i>39</i>
                      </div>
                      <div><span>2499 KGS</span></div>
                    </div>
                  </div>
                </div>
              </div></a>
          </li>
          <li>
            <div class="favorite uk-margin-top uk-margin-right" uk-toggle="target: .heart1; animation: uk-animation-fade; queued: true"><i class="fa fa-heart-o heart1"></i><i class="fa fa-heart heart1" hidden></i></div><a href="">
              <div class="item">
                <div class="uk-panel uk-cover-container"><img data-uk-cover src="{% static 'img/jpg/rec2.jpg' %}" alt="">
                  <div class="text">
                    <div class="uk-flex uk-flex-between">
                      <div>
                        <h4 class="light">NIKE AIR 180</h4><i class="light">43</i><i class="light">41</i><i class="light">38</i><i class="light">39</i>
                      </div>
                      <div><span class="light">2499 KGS</span></div>
                    </div>
                  </div>
                </div>
              </div></a>
          </li>
          <li>
            <div class="favorite uk-margin-top uk-margin-right" uk-toggle="target: .heart2; animation: uk-animation-fade; queued: true"><i class="fa fa-heart-o heart2"></i><i class="fa fa-heart heart2" hidden></i></div><a href="">
              <div class="item">
                <div class="uk-panel uk-cover-container"><img data-uk-cover src="{% static 'img/jpg/air.jpg' %}" alt="">
                  <div class="text">
                    <div class="uk-flex uk-flex-between">
                      <div>
                        <h4 class="light">NIKE AIR 180</h4><i class="light">43</i><i class="light">41</i><i class="light">38</i><i class="light">39</i>
                      </div>
                      <div><span class="light">2499 KGS</span></div>
                    </div>
                  </div>
                </div>
              </div></a>
          </li>
          <li>
            <div class="favorite uk-margin-top uk-margin-right" uk-toggle="target: .heart3; animation: uk-animation-fade; queued: true"><i class="fa fa-heart-o heart3"></i><i class="fa fa-heart heart3" hidden></i></div><a href="">
              <div class="item">
                <div class="uk-panel uk-cover-container"><img data-uk-cover src="{% static 'img/jpg/rec1.jpg' %}" alt="">
                  <div class="text">
                    <div class="uk-flex uk-flex-between">
                      <div>
                        <h4 class="light">NIKE AIR 180</h4><i class="light">43</i><i class="light">41</i><i class="light">38</i><i class="light">39</i>
                      </div>
                      <div><span class="light">2499 KGS</span></div>
                    </div>
                  </div>
                </div>
              </div></a>
          </li> -->
          {% for product in products %}
          <li>
            <div class="favorite uk-margin-top uk-margin-right" uk-toggle="target: .heart4; animation: uk-animation-fade; queued: true">
              <i class="far fa-heart heart4" style="color: rgb(6, 6, 126); font-size: 30px;"></i>
              <i class="fas fa-heart heart4" style="color: rgb(6, 6, 126); font-size: 30px;" hidden ></i>
            </div>
            <a href="{% url 'product-detail' product.id %}">
              <div class="item">
                {% for image in product.image.all|slice:":1" %}
                <div class="uk-panel uk-cover-container"><img data-uk-cover src="{{ image.image.url }}" alt="">
                  <div class="text">
                    <div class="uk-flex uk-flex-between">
                      <div>
                        <h4 class="light">{{ product.title }}</h4>
                        {% for size in product.size.all %}
                        <i class="light">{{ size.size }}</i>
                        {% endfor %}
                      </div>
                      <div><span class="light">{{ product.price }}</span></div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul><a class="navigation uk-position-center-left uk-position-small" data-uk-slider-item="previous" href="#"></a><a class="navigation uk-position-center-right uk-position-small" data-uk-slider-item="next" href="#"></a>
      </div>
    </div>
  </section>
{% endblock %}